<div class="container">
    <div class="home">
        <div class="desc">
            <div style="display: flex;font-size: 50px;">
                <p style="color: #f4ba5c;">Hi!&nbsp;</p>
                <p>&nbsp;My name is</p>
            </div>
            <div style="display: flex;font-size: 80px;">
                <p style="color: #f4ba5c;">Julian Miranda</p>
                <p>,</p>
            </div>
            <p>I'm a Fullstack Developer.</p>
            <div class="buttons">
                <a href="assets/CV.pdf" download="CV.pdf"><button class="download">Download CV</button></a>
                <a href="https://www.linkedin.com/in/julian-miranda-2a276b162/" target="_blank"><button class="fa-brands fa-linkedin-in apps"></button></a>
                <a href="https://github.com/JulianMi12" target="_blank"><button class="fa-brands fa-github apps"></button></a>
            </div>
        </div>
        <img src="assets/home.png" alt="Home Photo">
    </div>
</div>