<div class="container">
    <div class="title">
        <p style="color: #f4ba5c;">About&nbsp;</p>
        <p>My</p>
    </div>
    <div class="img_user">
        <img src="assets/home.png" alt="Home Photo">
    </div>
    <div class="about">
        <p class="t1">I am a Systems Engineer with more than two years of experience in software
            development. Skilled in multiple
            programming languages such as Java, JavaScript, Scala, Python, and technologies including REST APIs and
            microservices. Proficient in web development with Spring Boot, Angular, and relational and non-relational
            database management.</p>
        <p class="t2">Dedicated to delivering quality work, problem solving, creativity, and continuous
            improvement.</p>
    </div>
</div>