.container {
    margin-top: 100px; 
    width: 100%;
    background-color: #412657;
}

.about {
    font-size: 1.5rem;
    text-align: center;
}

.img_user {
    display: flex;
    justify-content: center;
}

.t1 {
    margin-bottom: 20px
}

.t2 {
    font-size: 2rem;
}

img {
    display: none;
}

@media only screen and (max-width: 650px) {
    .container {
        margin-top: 0px; 
    }

    img {
        display: block;
        width: 100%;
        max-width: 400px;
        border-radius: 25%;
        margin-bottom: 30px;
    }

    .t1 {
        font-size: 1rem;
    }
    
    .t2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .t1 {
        font-size: .9rem;
    }
    
    .t2 {
        font-size: 1.1rem;
    }
}