<div class="container">
    <div class="title">
        <p style="color: #f4ba5c;">My&nbsp;</p>
        <p>Work Experience</p>
    </div>
    <div class="works">
        <div class="work">
            <img src="assets/works/avvillas.png" alt="Html logo">
            <div style="margin-right: 50px;">
                <p><b>Av Villas Bank</b> - Specialized Analyst 2</p>
                <p>08/2022 - 03/2024</p>
                <ul>
                    <li>
                        <img src="assets/skills/java.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/html.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/css.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/js.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/cobol.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/mysql.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/sqlserver.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/hcl.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/jira.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/git.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/github.png" alt="Git logo">
                    </li>
                </ul>
            </div>
        </div>
        <div class="work">
            <div style="margin-left: 50px;">
                <p><b>Giitic</b> - Java Junior Developer</p>
                <p>09/2019 - 08/2022</p>
                <ul>
                    <li>
                        <img src="assets/skills/java.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/html.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/css.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/js.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/primefaces.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/jasper.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/azure.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/mysql.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/sqlserver.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/postgresql.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/oracle.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/git.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/github.png" alt="Git logo">
                    </li>
                </ul>
            </div>
            <img src="assets/works/giitic.png" alt="Html logo">
        </div>
    </div>
</div>