<div class="container">
    <div class="title">
        <p style="color: #f4ba5c;">My&nbsp;</p>
        <p>Projects</p>
    </div>
    <div class="projects">
        <div class="card">
            <img class="card-img" src="assets/projects/unreal.jpeg" alt="Unreal Image">
            <div class="card-content">
                <div class="card-title">Unreal</div>
                <div class="card-text">E-commerce prototype.</div>
                <ul class="flex">
                    <li>
                        <img src="assets/skills/html.png" alt="Html logo">
                    </li>
                    <li>
                        <img src="assets/skills/css.png" alt="Css logo">
                    </li>
                    <li>
                        <img src="assets/skills/js.png" alt="Js logo">
                    </li>
                    <li>
                        <img src="assets/skills/git.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/github.png" alt="Github logo">
                    </li>
                </ul>
                <div class="flex cardbuttons">
                    <a href="https://julianmi12.github.io/UNREAL/" target="_blank"><button class="cardBut1">View
                            something</button></a>
                    <a href="https://github.com/JulianMi12/UNREAL" target="_blank"><button
                            class="cardBut2">Code</button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="assets/projects/electronic-beat.jpg" alt="Unreal Image">
            <div class="card-content">
                <div class="card-title">Electronic Beat</div>
                <div class="card-text">Informative music page.</div>
                <ul class="flex">
                    <li>
                        <img src="assets/skills/html.png" alt="Html logo">
                    </li>
                    <li>
                        <img src="assets/skills/css.png" alt="Css logo">
                    </li>
                    <li>
                        <img src="assets/skills/js.png" alt="Js logo">
                    </li>
                    <li>
                        <img src="assets/skills/git.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/github.png" alt="Github logo">
                    </li>
                </ul>
                <div class="flex cardbuttons">
                    <a href="https://julianmi12.github.io/Electronic-Beat/" target="_blank"><button class="cardBut1">View
                            something</button></a>
                    <a href="https://github.com/JulianMi12/Electronic-Beat" target="_blank"><button
                            class="cardBut2">Code</button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="assets/projects/time-focus.png" alt="Unreal Image">
            <div class="card-content">
                <div class="card-title">Time Focus</div>
                <div class="card-text">Login collaborative university project.</div>
                <ul>
                    <li>
                        <img src="assets/skills/html.png" alt="Html logo">
                    </li>
                    <li>
                        <img src="assets/skills/css.png" alt="Css logo">
                    </li>
                    <li>
                        <img src="assets/skills/js.png" alt="Js logo">
                    </li>
                    <li>
                        <img src="assets/skills/angular.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/firebase.png" alt="Github logo">
                    </li>
                    <li>
                        <img src="assets/skills/git.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/github.png" alt="Github logo">
                    </li>
                </ul>
                <div class="flex cardbuttons">
                    <a href="https://fukl-48022-g51-2022-1-t2.web.app/" target="_blank"><button class="cardBut1">View
                            something</button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="assets/projects/portfolio.jpg" alt="Portfolio Image">
            <div class="card-content">
                <div class="card-title">Portfolio</div>
                <div class="card-text">My own portfolio.</div>
                <ul class="flex">
                    <li>
                        <img src="assets/skills/html.png" alt="Html logo">
                    </li>
                    <li>
                        <img src="assets/skills/css.png" alt="Css logo">
                    </li>
                    <li>
                        <img src="assets/skills/js.png" alt="Js logo">
                    </li>
                    <li>
                        <img src="assets/skills/angular.png" alt="Angular logo">
                    </li>
                    <li>
                        <img src="assets/skills/git.png" alt="Git logo">
                    </li>
                    <li>
                        <img src="assets/skills/github.png" alt="Github logo">
                    </li>
                </ul>
                <div class="flex cardbuttons">
                    <a href="https://julianmi12.github.io/Portfolio/" target="_blank"><button class="cardBut1"> View
                            something</button></a>
                    <a href="https://github.com/JulianMi12/Portfolio" target="_blank"><button
                            class="cardBut2">Code</button></a>
                </div>
            </div>
        </div>
    </div>
</div>