<div class="container">
    <div class="title spec">
        <p style="color: #f4ba5c;">Contact&nbsp;</p>
        <p>Me</p>
    </div>
    <div class="contact">
        <div class="card">
            <i class="fa-solid fa-location-dot icon"></i>
            <div class="card-content">
                <p>Dubai, UAE</p>
            </div>
        </div>
        <div class="card">
            <i class="fa-solid fa-phone icon"></i>
            <div class="card-content">
                <p>+971 058-517-5200</p>
            </div>
        </div>
        <div class="card">
            <i class="fa-regular fa-envelope icon"></i>
            <div class="card-content">
                <p>julianmiranda1ahotmail.com</p>
            </div>
        </div>
    </div>
</div>