<div class="container">
    <div class="title">
        <p style="color: #f4ba5c;">My&nbsp;</p>
        <p>Skills</p>
    </div>
    <div class="skills">
        <div class="front-end">
            <h3>Front-End</h3>
            <ul>
                <li>
                    <a href="https://html.com/html5/" target="_blank">
                        <img src="assets/skills/html.png" alt="Html logo">
                        <p>HTML</p>
                    </a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference" target="_blank">
                        <img src="assets/skills/css.png" alt="Home Photo">
                        <p>CSS</p>
                    </a>
                </li>
                <li>
                    <a href="https://angular.io/" target="_blank">
                        <img src="assets/skills/angular.png" alt="Home Photo">
                        <p>Angular</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.primefaces.org/" target="_blank">
                        <img src="assets/skills/primefaces.png" alt="Home Photo">
                        <p>Primefaces</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.javascript.com/" target="_blank">
                        <img src="assets/skills/js.png" alt="Home Photo">
                        <p>JavaScript</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.typescriptlang.org/" target="_blank">
                        <img src="assets/skills/ts.png" alt="Home Photo">
                        <p>TypeScript</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="back-end">
            <h3>Back-End</h3>
            <ul>
                <li>
                    <a href="https://www.oracle.com/es/java/" target="_blank">
                        <img src="assets/skills/java.png" alt="Home Photo">
                        <p>Java</p>
                    </a>
                </li>
                <li>
                    <a href="https://spring.io/projects/spring-boot" target="_blank">
                        <img src="assets/skills/spring.png" alt="Home Photo">
                        <p style="font-size: 14px;">Spring Boot</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.javascript.com/" target="_blank">
                        <img src="assets/skills/js.png" alt="Home Photo">
                        <p>JavaScript</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.python.org/" target="_blank">
                        <img src="assets/skills/python.png" alt="Home Photo">
                        <p>Python</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.scala-lang.org/" target="_blank">
                        <img src="assets/skills/scala.png" alt="Home Photo">
                        <p>Scala</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.opentext.com/what-is/cobol" target="_blank">
                        <img src="assets/skills/cobol.png" alt="Home Photo">
                        <p>Cobol</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="databases">
            <h3>Databases</h3>
            <ul>
                <li>
                    <a href="https://www.mysql.com/" target="_blank">
                        <img src="assets/skills/mysql.png" alt="Home Photo">
                        <p>MySql</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.techtarget.com/searchdatamanagement/definition/SQL-Server" target="_blank">
                        <img src="assets/skills/sqlserver.png" alt="Home Photo">
                        <p>SqlServer</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.oracle.com/ae/database/sqldeveloper/" target="_blank">
                        <img src="assets/skills/oracle.png" alt="Home Photo">
                        <p>Oracle</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.postgresql.org/" target="_blank">
                        <img src="assets/skills/postgresql.png" alt="Home Photo">
                        <p>PostgreSQL</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.mongodb.com/es" target="_blank">
                        <img src="assets/skills/mongodb.png" alt="Home Photo">
                        <p>MongoDB</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tools">
            <h3>Tools</h3>
            <ul>
                <li>
                    <a href="https://git-scm.com/" target="_blank">
                        <img src="assets/skills/git.png" alt="Home Photo">
                        <p>Git</p>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/" target="_blank">
                        <img src="assets/skills/github.png" alt="Home Photo">
                        <p>GitHub</p>
                    </a>
                </li>
                <li><a href="https://www.atlassian.com/es/software/jira" target="_blank">
                        <img src="assets/skills/jira.png" alt="Home Photo">
                        <p>Jira</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.hcl-software.com/leap" target="_blank">
                        <img src="assets/skills/hcl.png" alt="Home Photo">
                        <p>HCL Leap</p>
                    </a>
                </li>
                <li>
                    <a href="https://azure.microsoft.com/en-us/products/devops" target="_blank">
                        <img src="assets/skills/azure.png" alt="Home Photo">
                        <p>Azure DevOps</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.jaspersoft.com/" target="_blank">
                        <img src="assets/skills/jasper.png" alt="Home Photo">
                        <p>Jasper Reports</p>
                    </a>
                </li>
                <li>
                    <a href="https://firebase.google.com/" target="_blank">
                        <img src="assets/skills/firebase.png" alt="Home Photo">
                        <p>Firebase</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>