.container {
    width: 100%;
}

.skills {
    min-height: 255px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.front-end, .back-end, .databases, .tools {
    width: calc(50% - 1rem);
    margin-bottom: 1rem;
}



h3 {
    text-align: center;
    margin-bottom: 35px;
    border: 0.01rem solid #f4ba5c;
    border-radius: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

ul li {
    list-style: none;
}

ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    min-height: 3rem;
    padding: 0.5rem 0.88rem;
    border-radius: 1rem;
    border: 0.01rem solid #f4ba5c;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

ul li a:hover {
    background-color: #412657;
}

img {
    height: 1.5rem;
}

@media screen and (max-width: 750px) {
    .front-end, .back-end, .databases, .tools {
        width: calc(100% - 1rem);
    }
}

@media screen and (max-width: 450px) {
    .skills {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    ul {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
}