<header>
    <a href="#" class="logo">
        <img src="assets/Logo.ico" alt="photo">
    </a>

    <input type="checkbox" id="check_menu">
    <label id="label_check" for="check_menu">
        <i class="fas fa-bars icon_menu"></i>
    </label>

    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">My Skills</a></li>
            <li><a href="">My Work</a></li>
            <li><a href="">Contact Me</a></li>
        </ul>
    </nav>

    <div class="language">
        <p>{{lan}}</p>
        <ul>
            <li><a (click)='setLanguage("EN")'>EN</a></li>
            <li><a (click)='setLanguage("ES")'>ES</a></li>
        </ul>
    </div>
</header>