img {
    width: 50px;
    height: 50px;
}

header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #f4ba5c;
    transition: .3s;
}

nav ul li a:hover:before {
    width: 100%;
}

.language {
    font-size: 18px;
    font-weight: 500;
}

.language p {
    color: #f4ba5c;
}

.language ul {
    color: #290941;
    width: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f4ba5c;
    position: absolute;
    top: 60px;
    padding: 5px 0px 5px 0px;
    z-index: 10;
    margin-right: 78px;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms linear;
}

.language:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.language ul li {
    list-style: none;
}

.icon_menu {
    font-size: 35px;
    color: #f4ba5c;
    cursor: pointer;
    width: 30px;
    height: 100%;
    display: none;
    align-items: center;
}

#label_check {
    width: 30px;
    height: 100%;
    display: none;
}

#check_menu {
    display: none;
}

@media only screen and (max-width: 950px) {
    nav {
        width: 60%;
    }
}

@media only screen and (max-width: 750px) {
    .logo {
        width: 100%;
    }

    nav {
        width: 0%;
    }

    nav ul {
        visibility: hidden;
        flex-direction: column;
        background-color: #412657;
        position: fixed;
        left: 0;
        top: 90px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;

    }

    nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li a:hover {
        transform: scale(1);
    }

    nav ul li:first-child a {
        background-position: 20px;
    }

    #label_check {
        display: block;
        width: 100%;
    }

    .icon_menu {
        display: flex;
    }

    #check_menu:checked~nav ul {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    nav ul li a::selection {
        #label_check {
            display: none;
        }
    }

    header {
        padding: 20px 15px;
    }

    .language {
        font-size: 25px;
    }

    img {
        width: 45px;
        height: 45px;
    }
}