<div class="container">
    <div class="title">
        <p style="color: #f4ba5c;">My&nbsp;</p>
        <p>Formation&nbsp;</p>
    </div>
    <div class="formation">
        <div class="timeline">
            <div class="timeline-item" data-date="09/2023">
                <div class="timeline-content">
                    <h2 class="title-exp">09/2023</h2>
                    <h2>Konrad Lorenz University Foundation.</h2>
                    <p>Systems Engineer.</p>
                </div>
            </div>
            <div class="timeline-item" data-date="11/2018">
                <div class="timeline-content">
                    <h2 class="title-exp">11/2018</h2>
                    <h2>National Learning Service.</h2>
                    <p>Systems Technician with emphasis on Software Programming.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        <p style="color: #f4ba5c;">My&nbsp;</p>
        <p>Courses&nbsp;</p>
    </div>
    <div class="formation">
        <div class="timeline">
            <div class="timeline-item" data-date="06/2020">
                <div class="timeline-content">
                    <h2 class="title-exp">06/2020</h2>
                    <h2>Konrad Lorenz University Foundation.</h2>
                    <p>Introduction to Machine Learning with Google Cloud Platforms API's.</p>
                </div>
            </div>
            <div class="timeline-item" data-date="08/2021">
                <div class="timeline-content">
                    <h2 class="title-exp">08/2021</h2>
                    <h2>Coursera with Google Cloud.</h2>
                    <p>Google Cloud Fundamentals: Core Infrastructure.</p>
                </div>
            </div>
            <div class="timeline-item" data-date="08/2021">
                <div class="timeline-content">
                    <h2 class="title-exp">08/2021</h2>
                    <h2>Coursera with Google Cloud.</h2>
                    <p>Essential Cloud Infrastructure: Core Services.</p>
                </div>
            </div>
            <div class="timeline-item" data-date="08/2021">
                <div class="timeline-content">
                    <h2 class="title-exp">08/2021</h2>
                    <h2>Coursera with Google Cloud.</h2>
                    <p>Essential Cloud Infrastructure: Foundation.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="title spec">
        <p style="color: #f4ba5c;">My&nbsp;</p>
        <p>Certifications&nbsp;</p>
    </div>
    <div class="formation">
        <div class="timeline">
            <div class="timeline-item" data-date="10/2020">
                <div class="timeline-content">
                    <h2 class="title-exp">10/2020</h2>
                    <h2>ProximaX.</h2>
                    <p>Certificate of participation in the ProximaX Hackathon developing a BLOCKCHAIN-based voting system.</p>
                </div>
            </div>
            <div class="timeline-item" data-date="2020, 2021 and 2022">
                <div class="timeline-content">
                    <h2 class="title-exp">2020 - 2021 - 2022</h2>
                    <h2>International Collegiate Programming Contest.</h2>
                    <p>Certificates of participation in the 2020 ICPC South America-North Finals in the editions 2020, 2021 and 2022.</p>
                </div>
            </div>
        </div>
    </div>
</div>