<div class="container">
    <div class="title">
        <p style="color: #f4ba5c;">My&nbsp;</p>
        <p>Formation&nbsp;</p>
        <p style="color: #f4ba5c;">and&nbsp;</p>
        <p>Courses</p>
    </div>
    <div class="formation">
        <div class="timeline">
            <div class="timeline-item" data-date="09/2023">
                <div class="timeline-content">
                    <h2>Systems Engineer</h2>
                    <p>Konrad Lorenz University Foundation. Bogotá, Colombia</p>
                </div>
            </div>
            <div class="timeline-item" data-date="11/2018">
                <div class="timeline-content">
                    <h2 >Systems Technician with emphasis on Software Programming</h2>
                    <p>National Learning Service. Bogotá, Colombia</p>
                </div>
            </div>
        </div>
    </div>
</div>